@charset "gb2312";
/***************************{CSS Reset}*****************************/
*{margin:0 auto; padding:0;}
html{margin:0 auto; padding:0;}
body{font-size:14px;color:#333333; margin:0 auto; font-family:"微软雅黑";  background:#fff;}
a{color:#333333;text-decoration:none;}
a image{border:0px;}
a:hover{color:#c70000;text-decoration:none;}
ul,li{list-style:none;}
select,textarea{border:1px solid #e1ebf4; font-family:"微软雅黑";  padding:2px 2px; text-align:left;}
select{padding-left:6px; height:22px; line-height:22px; font-size:12px; }
input，textarea，select{vertical-align:middle;}
input{border:1px solid #e1ebf4; font-family:"微软雅黑"; text-align:left;}

.input1{padding-left:6px; height:22px; line-height:22px; font-size:12px; }

.fred{color:#c70000;}
.fred a{color:#c70000;}
.fred a:hover{color:#333333;}
.f20{font-size:20px;}

.m16_t{ margin-top:16px;}
.m10_t{ margin-top:10px;}
.m20_t{ margin-top:20px;}
.pad{padding:10px 15px;}
.pad20{padding:20px 0px;}
.pad20_q{padding:20px 20px;}
.f_dd{font-family:"宋体"; color:#c1c1c1;}
.bor_b{border-bottom:2px solid #0160a9;}
.bor_ql{border:1px solid #0160a9;}
.f16{font-size:16px;}
.f12{ font-size:12px;}
.fb{font-weight:bold;}
.fbai{ color:#FFF;}
.fbai a{ color:#FFF;}

.fhui{ color:#888888;}
.fhui a{ color:#888888;}

.flan{ color:#0160a9;}
.flan a{ color:#0160a9;}
.flan a:hover{color:#c70000;text-decoration:none;}


.flan1{ color:#0160a9;text-decoration: underline;}
.flan1 a{ color:#0160a9;text-decoration: underline;}
.flan1 a:hover{color:#c70000;text-decoration: underline;}

.bo_xx{border-bottom:1px dashed #d0d0d0;}
.lin22{line-height:22px;}




/*首页*/
.top_bg{background:url(../images/zwsy_01.jpg) repeat-x left top; margin:0 auto; padding:0; font-size:12px; font-family:"宋体";}
.logo{margin:25px 0 0 10px;}
.in_ss{background:url(../images/zwsy_02.jpg) no-repeat left center; width:190px; height:35px; text-align:left; padding-left:37px; line-height:35px; border:none; color:#777777;}

.in_btn{background:url(../images/zwsy_03.jpg) center center no-repeat; width:66px; height:35px; display:block;text-indent:-9999px; border:none;}
.in_btn:hover{background:url(../images/zwsy_03a.jpg) center center no-repeat; width:66px; height:35px; display:block; text-indent:-9999px; border:none;}

.nav{width:998px; margin:0 auto; padding:0; border-left:1px solid #00508f; border-right:1px solid #1767a4; height:41px;}
.nav ul{list-style:none; }
.nav ul li{ float:left;width:198px; height:41px; line-height:41px; text-align:center;  font-size:18px; color:#FFF;  border-right:1px solid #00508f; border-left:1px solid #1767a4;}
.nav ul li a{ color:#FFF;}
.nav ul li:hover,.nav ul li.act{ background:#00467d;}

.box{border:1px solid #e2e2e2; border-top:none;}
.b_td{border:1px solid #e2e2e2; border-right:none;border-left:none; background:#f6f6f6;}
.b_tdq{ border-top:3px solid #0160a9; border-left:1px solid #e2e2e2; border-right:1px solid #e2e2e2; font-size:16px; color:#0160a9; padding:0 18px; white-space:nowrap; }


.lmqh_d{text-align:center; height:37px; line-height:37px; font-size:18px; color:#fff; background:url(../images/zwsy_04.jpg) no-repeat center center; white-space:nowrap;}
.lmqh_d a{color:#fff; display:block;}
.lmqh_y{text-align:center; height:37px; line-height:37px; font-size:18px; color:#0160a9; background:url(../images/zwsy_04a.jpg) no-repeat center center; white-space:nowrap;}

.bs_nav{ width:100%}
.bs_nav ul{list-style: none;}
.bs_nav ul li{float:left;text-align:center;width:91px; height:95px;margin:12px 10px 0 0;  } 
.bs_nav ul li a:hover{ color:#FFF; }  
.bs_nav ul li.li1{margin:12px 0 0 0;  }  


.bs_nav .gr01{background:url(../images/gr_01.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr01:hover{background:url(../images/gr_01a.jpg) no-repeat center center;}

.bs_nav .gr02{background:url(../images/gr_02.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr02:hover{background:url(../images/gr_02a.jpg) no-repeat center center;}

.bs_nav .gr03{background:url(../images/gr_03.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr03:hover{background:url(../images/gr_03a.jpg) no-repeat center center;}

.bs_nav .gr04{background:url(../images/gr_04.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr04:hover{background:url(../images/gr_04a.jpg) no-repeat center center;}

.bs_nav .gr05{background:url(../images/gr_05.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr05:hover{background:url(../images/gr_05a.jpg) no-repeat center center;}

.bs_nav .gr06{background:url(../images/gr_06.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr06:hover{background:url(../images/gr_06a.jpg) no-repeat center center;}

.bs_nav .gr07{background:url(../images/gr_07.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr07:hover{background:url(../images/gr_07a.jpg) no-repeat center center;}

.bs_nav .gr08{background:url(../images/gr_08.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr08:hover{background:url(../images/gr_08a.jpg) no-repeat center center;}

.bs_nav .gr09{background:url(../images/gr_09.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr09:hover{background:url(../images/gr_09a.jpg) no-repeat center center;}

.bs_nav .gr10{background:url(../images/gr_10.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr10:hover{background:url(../images/gr_10a.jpg) no-repeat center center;}

.bs_nav .gr11{background:url(../images/gr_11.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr11:hover{background:url(../images/gr_11a.jpg) no-repeat center center;}

.bs_nav .gr12{background:url(../images/gr_12.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr12:hover{background:url(../images/gr_12a.jpg) no-repeat center center;}

.bs_nav .gr13{background:url(../images/gr_13.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr13:hover{background:url(../images/gr_13a.jpg) no-repeat center center;}

.bs_nav .gr14{background:url(../images/gr_14.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr14:hover{background:url(../images/gr_14a.jpg) no-repeat center center;}

.bs_nav .gr15{background:url(../images/gr_15.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr15:hover{background:url(../images/gr_15a.jpg) no-repeat center center;}

.bs_nav .gr16{background:url(../images/gr_16.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr16:hover{background:url(../images/gr_16a.jpg) no-repeat center center;}

.bs_nav .gr17{background:url(../images/gr_17.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr17:hover{background:url(../images/gr_17a.jpg) no-repeat center center;}

.bs_nav .gr18{background:url(../images/gr_18.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr18:hover{background:url(../images/gr_18a.jpg) no-repeat center center;}

.bs_nav .gr19{background:url(../images/gr_19.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr19:hover{background:url(../images/gr_19a.jpg) no-repeat center center;}

.bs_nav .gr20{background:url(../images/gr_20.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr20:hover{background:url(../images/gr_20a.jpg) no-repeat center center;}

.bs_nav .gr21{background:url(../images/gr_21.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .gr21:hover{background:url(../images/gr_21a.jpg) no-repeat center center;}


.bs_nav .qy03{background:url(../images/qy_03.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy03:hover{background:url(../images/qy_03a.jpg) no-repeat center center;}

.bs_nav .qy05{background:url(../images/qy_05.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy05:hover{background:url(../images/qy_05a.jpg) no-repeat center center;}

.bs_nav .qy07{background:url(../images/qy_07.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy07:hover{background:url(../images/qy_07a.jpg) no-repeat center center;}

.bs_nav .qy08{background:url(../images/qy_08.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy08:hover{background:url(../images/qy_08a.jpg) no-repeat center center;}

.bs_nav .qy09{background:url(../images/qy_09.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy09:hover{background:url(../images/qy_09a.jpg) no-repeat center center;}

.bs_nav .qy10{background:url(../images/qy_10.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy10:hover{background:url(../images/qy_10a.jpg) no-repeat center center;}

.bs_nav .qy12{background:url(../images/qy_12.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy12:hover{background:url(../images/qy_12a.jpg) no-repeat center center;}


.bs_nav .qy14{background:url(../images/qy_14.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy14:hover{background:url(../images/qy_14a.jpg) no-repeat center center;}

.bs_nav .qy15{background:url(../images/qy_15.jpg) no-repeat center center; width:91px; height:28px; display:block; padding-top:67px;}
.bs_nav .qy15:hover{background:url(../images/qy_15a.jpg) no-repeat center center;}


.td_bs{background:#f6f6f6; border:1px solid #e4e4e4;}
.in_cx{background:url(../images/zwsy_05.jpg) no-repeat left center; width:123px; height:29px; text-align:left; padding-left:10px; line-height:29px; border:none; color:#777777;}
.in_cxa{background:url(../images/zwsy_05a.jpg) no-repeat left center; width:203px; height:29px; text-align:left; padding-left:10px; line-height:29px; border:none; color:#777777;}
.cx_btn{background:url(../images/zwsy_06.jpg) center center no-repeat; width:99px; height:49px; display:block;text-indent:-9999px; border:none;}
.cx_btn:hover{background:url(../images/zwsy_06a.jpg) center center no-repeat; width:99px; height:49px; display:block; text-indent:-9999px; border:none;}


.foot{ background:#f6f6f6; border-top:5px solid #0160a9; line-height:24px; text-align:center; margin-top:36px;}


/*网上预约*/
.box_yy{ border:1px solid #e2e2e2; padding:20px;}

.yy_01{background:url(../images/wsyy_02a.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#0160a9; display:block; padding-top:35px;}
.yy_01:hover{background:url(../images/wsyy_02.jpg) no-repeat center center; color:#fff; display:block}
.yy_01q{background:url(../images/wsyy_02.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#fff; padding-top:35px;}
.yy_01q:hover{color:#fff; display:block}
/*.yy_01q:hover{background:url(../images/wsyy_02a.jpg) no-repeat center center; color:#0160a9; display:block}*/

.yy_02{background:url(../images/wsyy_03a.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#0160a9; display:block; padding-top:35px;}
.yy_02:hover{color:#0160a9;}
/*.yy_02:hover{background:url(../images/wsyy_03.jpg) no-repeat center center; color:#fff; display:block}*/
.yy_02q{background:url(../images/wsyy_03.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#fff; padding-top:35px;}
.yy_02q:hover{color:#fff; display:block}
/*.yy_02q:hover{background:url(../images/wsyy_03a.jpg) no-repeat center center; color:#0160a9; display:block}*/

.yy_03{background:url(../images/wsyy_04a.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#0160a9; display:block; padding-top:35px;}
/*.yy_03:hover{background:url(../images/wsyy_04.jpg) no-repeat center center; color:#fff; display:block}*/
.yy_03:hover{color:#0160a9;}
.yy_03q{background:url(../images/wsyy_04.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#fff; padding-top:35px;}
.yy_03q:hover{color:#fff; display:block}
/*.yy_03q:hover{background:url(../images/wsyy_04a.jpg) no-repeat center center; color:#0160a9; display:block}*/

.yy_04{background:url(../images/wsyy_05a.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#0160a9; display:block; padding-top:35px;}
/*.yy_04:hover{background:url(../images/wsyy_05.jpg) no-repeat center center; color:#fff; display:block}*/
.yy_04:hover{color:#0160a9;}
.yy_04q{background:url(../images/wsyy_05.jpg) no-repeat center center; width:139px; height:84px; display:block; text-align:center; font-size:18px; color:#fff; padding-top:35px;}
.yy_04q:hover{color:#fff; display:block}
/*.yy_04q:hover{background:url(../images/wsyy_05a.jpg) no-repeat center center; color:#0160a9; display:block}*/


.lmqt{ background:url(../images/wsyy_06.jpg)  no-repeat bottom left; height:38px; text-align:center; font-size:18px; color:#fff; line-height:38px; white-space:nowrap; overflow:hidden}
.lmqt div{background:url(../images/wsyy_06a.jpg)  no-repeat bottom right; padding:0 15px; white-space:nowrap; overflow:hidden;}


.bm_list{width:100%; margin:0 auto; padding:0;}
.bm_list ul{list-style:none; margin:16px 0 0 3px}
.bm_list ul li{ float:left;width:162px; height:44px; line-height:44px; text-align:center; border:1px solid #dadada; margin:15px 9px 0 9px;}


.sx_list{}
.sx_list img{vertical-align:middle;}
.ja_icon{margin-right:10px; margin-bottom:1px;}


.fw_tb {width:100%; margin:0; padding:0;overflow:hidden}
.fw_tb table {border-collapse:collapse;}
.fw_tb .time{ font-size:12px; color:#8d8d8e;}

.fw_tb .td2 td{color:#FFFFFF; white-space: nowrap; border:1px solid #6085ad; line-height:20px;}
.fw_tb .td3 td{color:#FFFFFF; white-space: nowrap; border:1px solid #6085ad; line-height:20px; font-weight:bold; padding:10px 10px;}

.fw_tb .td1 { border:1px solid #d8e0e6;  line-height:20px; padding:8px 10px;}

.bo_lan{ border:1px solid #d8e0e6; border-top:none;}


/*按钮*/


.btn_01{background:url(btn_01.jpg) center center no-repeat; width:91px; height:36px; display:block; border:none; font-size:16px; line-height:36px; text-align:center; color:#fff;}
.btn_01:hover{background:url(btn_01a.jpg) center center no-repeat; width:91px; height:36px; display:block;  border:none; font-size:16px; line-height:36px; text-align:center;color:#fff;}


.btn_02{background:url(../images/btn_02.jpg) center center no-repeat; width:90px; height:30px; display:block; border:none; line-height:30px; text-align:center; color:#5c6d89;}
.btn_02:hover{background:url(../images/btn_02a.jpg) center center no-repeat; width:90px; height:30px; display:block;  border:none; line-height:30px; text-align:center;color:#5c6d89;}

.btn_03{background:url(../images/btn_03.jpg) center center no-repeat; width:90px; height:31px; display:block; border:none; line-height:31px; text-align:center; color:#fff;}
.btn_03:hover{background:url(../images/btn_03a.jpg) center center no-repeat; width:90px; height:31px; display:block;  border:none; line-height:31px; text-align:center;color:#fff;}



.btn_04{background:url(../images/btn_04.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#fff; font-size:16px; padding-left:50px;}
.btn_04:hover{background:url(../images/btn_04a.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#ff; font-size:16px; color:#FFF; padding-left:50px;}

.btn_05{background:url(../images/btn_05.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#fff; font-size:16px; padding-left:50px;}
.btn_05:hover{background:url(../images/btn_05a.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#ff; font-size:16px; color:#FFF; padding-left:50px;}

.btn_06{background:url(../images/btn_06.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#fff; font-size:16px; padding-left:50px;}
.btn_06:hover{background:url(../images/btn_06a.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#ff; font-size:16px; color:#FFF; padding-left:50px;}

.btn_07{background:url(../images/btn_07.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#fff; font-size:16px; padding-left:50px;}
.btn_07:hover{background:url(../images/btn_07a.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#ff; font-size:16px; color:#FFF; padding-left:50px;}

.btn_08{background:url(../images/btn_08.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#fff; font-size:16px; padding-left:50px;}
.btn_08:hover{background:url(../images/btn_08a.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#ff; font-size:16px; color:#FFF; padding-left:50px;}

.btn_09{background:url(../images/btn_04.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#fff; font-size:16px; padding-left:50px;}
.btn_09:hover{background:url(../images/btn_04a.jpg) center center no-repeat; width:88px; height:40px; display:block; text-align:left; line-height:40px; color:#ff; font-size:16px; color:#FFF; padding-left:50px;}

/*网上办事*/

.bor_bl{border-bottom:2px solid #00589c;}

.main_nav ul {overflow: hidden; list-style:none; height:47px;}
.main_nav li {float: left; width:323px; margin-right:14px;}
.main_nav li.last{margin-right:0;}
.main_nav a {text-indent: -9999px; width: 323px; display: block;  height: 47px}
.main_nav .ch1 {background: url(../images/wsbs_03.jpg) no-repeat;}
.main_nav .ch2 {background: url(../images/wsbs_04.jpg) no-repeat;}
.main_nav .ch3 {width:331px; background: url(../images/wsbs_05.jpg) no-repeat;}
.main_nav .on .ch1 {background: url(../images/wsbs_03a.jpg) no-repeat;}
.main_nav .on .ch2 {background: url(../images/wsbs_04a.jpg) no-repeat;}
.main_nav .on .ch3 {width:331px; background: url(../images/wsbs_05a.jpg) no-repeat;}


.bor_hq{border:1px solid #e2e2e2;}
.div_bs{margin-top:10px; background:#f6f6f6; border:1px solid #e2e2e2; height:92px; padding:20px 20px; text-align:left;}
.div_bs1{margin-top:10px; background:#f6f6f6; border:1px solid #e2e2e2; padding:20px 20px 8px 20px;; text-align:left;}

.bs_li{ width:100%;}
.bs_li ul{ list-style:none;}
.bs_li li,.bs_li  a{float:left; width:73px; height:26px; text-align:center; line-height:26px; margin:0 18px 8px 0; display:block;}
.bs_li li:hover,.bs_li li a:hover{color:#FFF; background: url(../images/wsbs_07.jpg) no-repeat center center; display:block;}

.bs_li li.lion,.bs_li li.lion a,.bs_li li.lion a:hover{color:#FFF; background: url(../images/wsbs_07.jpg) no-repeat center center; display:block;}


.box04{text-align: center; cursor:pointer; float:right; }
.box03 ul li{  width:158px; height:24px; float:left; text-align: left; margin-right:8px; margin-bottom:2px;}
.box03 ul li a{}
.box03 ul li a:hover, .bs_li1 a{ color:#c70000;}



.box04 .bt1 a,.box04 .bt1{cursor:pointer; display:block; height:27px; width:64px; text-align:center;}
.box04 .bt1 a:hover{display:block;}



.sh_li{padding:0 14px 14px 14px;}

.sh_tl{ font-size:18px; background: url(../images/wsbs_08.jpg) no-repeat center center; white-space:nowrap; padding:0 20px; }

.sh_n{border-bottom:1px dashed #d0d0d0; padding:14px 0;}
.sh_nl{float:left;width:67%;}
.sh_nl span{ float:left;}
.sh_nl span img{vertical-align:middle;}
.sh_nl h1{ font-size:16px; line-height:24px; font-weight:normal; margin-left:25px;}
.sh_nl h1 img{vertical-align:middle;}
.sh_nl h2{font-size:14px;  font-weight:normal; color:#888888; margin-left:25px;}

.sh_nlz{margin-left:25px; margin-top:15px;}
.sh_nlz span{ float:left;}
.sh_nlz span img{vertical-align:middle;  margin-top:4px;}
.sh_nlz h1{ font-size:14px;  font-weight:normal; margin-left:18px;}
.sh_nlz h1 img{vertical-align:middle;}

.sh_nr{float: right; margin-left:15px; width:33%; padding: 15px 0;}
.sh_nr ul{list-style:none; float:right;}
.sh_nr ul li{margin-left:10px; float:left; margin-top:15px;}


.fw_xx {width:100%; margin:0; padding:0;overflow:hidden}
.fw_xx table {border-collapse:collapse; }
.fw_xx table td { border:1px solid #e1ebf4; line-height:20px; padding:10px 10px;}
.fw_xx .time{ font-size:12px; color:#8d8d8e;}

.fw_xx .tdy td{ white-space: nowrap; line-height:20px;}


.b_ly{border-right:1px solid #e1ebf4; border-left:1px solid #e1ebf4;}
.b_sx{border-top:1px solid #e1ebf4; border-bottom:1px solid #e1ebf4; background:#f2f7fc;}

.b_sm{ border-top:3px solid #0160a9; border-left:1px solid #e1ebf4; border-right:1px solid #e1ebf4; font-size:16px; color:#0160a9;  white-space:nowrap; background:#FFF}
.b_smq{font-size:16px; color:#0160a9;}

.lin26{line-height:26px;}


.yh_img{width:90px; height:110px; border:1px solid #d8e0e6; padding:2px;}



.fw_xxb {width:100%; margin:0; padding:0;overflow:hidden}
.fw_xxb table {border-collapse:collapse; }
.fw_xxb table td { border:1px solid #e1ebf4; line-height:16px; padding:5px 5px;}


.fw_xxb .tdyb td{ white-space: nowrap; line-height:20px;}










<!--20160307-->

.sh_li li{width:90px;}
        .main_nav a{cursor:pointer;}
        .box03 ul li{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;}
  
  .sh_nlza{margin-left:25px; margin-top:15px; float:left; width:60%;}
.sh_nlza span{ float:left;}
.sh_nlza span img{vertical-align:middle;  margin-top:4px;}
.sh_nlza h1{ font-size:14px;  font-weight:normal; margin-left:18px;}
.sh_nlza h1 img{vertical-align:middle;}


.sh_nra{float: right; margin-left:10px; width:30%; }
.sh_nra ul{list-style:none; float:right; padding:0;}
.sh_nra ul li{margin-left:10px; float:left; width:auto;}



.sh_nlb{float:left;width:100%;}
.sh_nlb span{ float:left;}
.sh_nlb span img{vertical-align:middle;}
.sh_nlb h1{ font-size:16px; line-height:24px; font-weight:normal; margin-left:25px;}
.sh_nlb h1 img{vertical-align:middle;}
.sh_nlb h2{font-size:14px;  font-weight:normal; color:#888888; margin-left:25px;}

.sh_nlsa{margin-left:50px; margin-top:15px; float:left; width:60%;}
.sh_nlsa span{ float:left;}
.sh_nlsa span img{vertical-align:middle;  margin-top:4px;}
.sh_nlsa h1{ font-size:14px;  font-weight:normal; margin-left:18px;}
.sh_nlsa h1 img{vertical-align:middle;}


.sh_nlsb{margin-left:55px; margin-top:15px; float:left; width:100%;}
.sh_nlsb span{ float:left;}
.sh_nlsb span img{vertical-align:middle;  margin-top:4px;}
.sh_nlsb h1{ font-size:14px;  font-weight:normal; margin-left:18px;}
.sh_nlsb h1 img{vertical-align:middle;}


.btn_03z{background:url(../images/btn_03z.jpg) center center no-repeat; width:60px; height:28px; display:block; border:none; line-height:28px; text-align:center; color:#fff;}
.btn_03z:hover{background:url(../images/btn_03za.jpg) center center no-repeat;color:#fff;}


  .sh_nlzb{margin-left:25px; margin-top:15px; float:left; width:100%}
.sh_nlzb span{ float:left;}
.sh_nlzb span img{vertical-align:middle;  margin-top:4px;}
.sh_nlzb h1{ font-size:14px;  font-weight:normal; margin-left:18px;}
.sh_nlzb h1 img{vertical-align:middle;}


.sh_2 .sh_nra,.sh_3 .sh_nra{margin-top:11px;}

