<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d.dao.leibieshezhiDao">
	<select id="getlistProjectkind" resultType="com.d.entityAll.leibieshezhientity">
		SELECT  tb_kindchild.child_id,tb_kindchild.child_name,tb_kindchild.kind_id FROM tb_kindchild, tb_projectkind 
WHERE  
 tb_kindchild.kind_id = tb_projectkind.kind_id
	</select>
	
	<!-- 查询主类别（父节点） -->
	<select id="s" resultType="com.d.entity.Projectkind">
		SELECT * FROM tb_projectkind		
	</select>
	
	<!-- 查询子类别数据 -->
	<select id="getkindchild" resultType="com.d.entity.Kindchild" parameterType="com.d.entity.Kindchild">
		 SELECT * FROM tb_kindchild where 1=1
		 <if test="child_id != null">
		 and child_id=#{child_id}
		 </if>
		
		<if test="kind_id != null">
		and kind_id=#{kind_id}
		</if>
		 
	</select>
	
	<select id="tree" resultType="com.d.Tree.TreeNode" parameterType="java.util.HashMap">
		
		<if test="tablename =='tb_projectkind'.toString() ">			
	SELECT  kind_id AS id ,kind_name AS text FROM  tb_projectkind		
		</if>
		
		<if test="tablename=='tb_kindchild'.toString()">			
	 SELECT  child_id AS id,child_name AS TEXT FROM tb_kindchild  where kind_id = #{id}
		</if>
	
	</select>
	
	
</mapper>




