<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d.dao.RegionManagerDao"><!-- 后面接的是接口名称 -->
<!--id名要与实体类中的接口对象名一致  -->
	<select id="getListProvince" resultType="com.d.entity.Province">
		select * from tb_province
	</select>
</mapper>





































